
<div style="height: 200px; width: 500px; top: 50%; left: 50%; margin: -100px 0px 0px -300px; position: absolute">
    <h1>로또번호 자동 생성기</h1>
    <table>
        <tr class="box">
           <th colspan="6">로또 당첨 번호</th>
           <th>보너스 번호</th> 
           
        </tr>        
        <tr class="box">
           <td class="num"><%= image_tag @number_1 %></td> 
           <td class="num"><%= image_tag @number_2 %></td> 
           <td class="num"><%= image_tag @number_3 %></td> 
           <td class="num"><%= image_tag @number_4 %></td>
           <td class="num"><%= image_tag @number_5 %></td> 
           <td class="num"><%= image_tag @number_6 %></td> 
           <td class="bonus"><%= image_tag @number_bonus %></td>
        </tr>
    </table>
</div>









